.newsletter_wrapper {
  background-color: #f00f77;
  background-color: #a70e55;
}
.newsletter {
  display: flex;
  padding: 100px 0;
  margin: 0 120px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.newsletter h1 {
  color: rgb(237, 235, 235);
  color: #f9f9f9;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
}
.newsletter p {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.subscribe {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 64px;
}
.subscribe-field {
  height: 50px;
  width: 250px;
  padding: 0 16px;
  border: none;
  border-radius: 5px;
}
.subscribe-btn {
  background-color: #0acf8f;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  /* padding: 16px 55px; */
  font-size: 14px;
  font-weight: bold;
  color: rgb(48, 48, 48);
  border: none;
}
