.thanks_wrapper {
  margin: 0px auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
}
.thanks {
  display: flex;
  flex-direction: column;
}

.shopping_back {
  margin-top: 16px;
  text-decoration: none;
  color: rgb(27, 77, 9);
  font-size: 16px;
  font-weight: bold;
}
